.buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }
.buttondemoBasicUsage md-content {
  margin-right: 7px; }
.buttondemoBasicUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }
.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; }


.menu_subsection {
  background-color: #fefbec;
}

.menu_subsection img {
  width: 60%;
  height: 15%;
}

span.text-content {
  /*background: rgba(0,0,0,0.5);*/
  color: white;
  cursor: pointer;
  display: table;
  height: 90px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 90px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
  opacity: 0;
}

.flav_section:hover span.text-content {
  opacity: 1;
}

span.text-content {
  background: rgba(254,251,236,0.8);
  color: #000;
 font-family: 'Advent Pro', sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: table;
  height: 94px;
  margin-left:26%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}