<!DOCTYPE HTML>
<html ng-app="frostbite">
		<head>
		<title>Frostbite Ice Cream</title>
		<link rel="shortcut icon" type="image/png" href="images/frostbite_favicon.png"/>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<noscript>
			<link rel="stylesheet" href="css/mycss.css"/>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
	</head>
	<body>

		<!-- Header -->
		<div id="header">
			<div id="nav-wrapper"> 
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active"><a href="index.html">Home</a></li>
						<li><a href="menu.html">Menu</a></li>
						<li><a href="pricing.html">Pricing</a></li>
						<li><a href="employees.html">Employees</a></li>
					</ul>
				</nav>
			</div>
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1><img src="images/frostbite_transparent.png" style="width:40%; height:40%;"></h1>
					<span class="tag">The McGill Engineering Ice Cream Store</span>
				</div>
			</div>
		</div>

	<!-- Main -->
		<div id="menuMain">
			<div class="container" ng-controller="AppCtrl">
				<h1 class="sectionTitle" style="margin-top: 5%; margin-bottom: 3%">Currently Open</h1>
				<p class="sectionSubitle" style="margin-top: 5%; margin-bottom: 3%">These are the flavours we have open right now, so come thru and grab a scoop before they run out.</p>
				<div class="menu_subsection" ng-repeat="flavourName in openTubs" style="margin-bottom: 5%">
					<div class="col-md-4 flav_section">
						<p>{{ flavourName }}</p>
						<!--img class=".img-responsive" alt="{{flavour.alt}}" ng-src="images/flavours/{{flavour.flavId}}">
						<a href="#{{flavour.modalID}}" data-toggle="modal"><span class="text-content" style="font-family: 'Roboto', sans-serif"><span>{{flavour.description}}</span></span></a-->
					</div>
				</div>
			</div>
			<div class="container" ng-controller="AppCtrl">
				<h1 class="sectionTitle" style="margin-top: 5%; margin-bottom: 3%">On the Menu</h1>
				<div class="menu_subsection" ng-repeat="flavour in flavours" style="margin-bottom: 5%">
					<div class="col-md-4 flav_section">
						<img class=".img-responsive" alt="{{flavour.alt}}" ng-src="images/flavours/{{flavour.flavId}}">
						<a href="#{{flavour.modalID}}" data-toggle="modal"><span class="text-content" style="font-family: 'Roboto', sans-serif"><span>{{flavour.description}}</span></span></a>
					</div>
				</div>
			</div>
			<br>
			<br>
		</div>
	<!-- /Main -->
	<!-- Tweet -->
	<div id="tweet">
		<div class="container">
			<section>
				<blockquote  style="color:#fff">A wise one once said &ldquo;You can't purchase happiness... but you can purchase ice cream. #stayGucci &rdquo;</blockquote>
			</section>
		</div>
	</div>
	<!-- /Tweet -->

	<!-- Footer -->
	<div id="footer">
		<div class="container">
			<section>
				<header>
					<h2>Get in touch</h2>
					<br>
					<br>
					<span>
					<p style="color:#fff">Please email us at <a href="mailto:frostbite@mcgilleus.ca">frostbite@mcgilleus.ca</a> for further inquiries</p>
					<p style="color:#fff">We are open Monday to Friday from 12 PM to 5 PM, including over the summer!</p>
					<span style="color:#fff">Note: During certain seasons, our hours are extended! Check Facebook and Instagram for our current hours.</span>
					</span>
				</header>
				<ul class="contact">
					<li class="active"><a href="https://www.facebook.com/FrostbitesEus?ref=br_tf" target="_blank" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="https://www.instagram.com/frostbite_icecream/" target="_blank" class="fa fa-instagram"><span>Instagram</span></a></li>
				</ul>
			</section>
		</div>
	</div>


	<!-- Copyright -->
	<div id="copyright">
		<div class="container" style="color:white">
			Operated by the EUS - An Undergraduate Students' Association at McGill Univeristy
		</div>
	</div>


	</body>
	<script type="text/javascript" src="lib/jquery.min.js"></script>
	<script type="text/javascript" src="lib/angular.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/skel-panels.min.js"></script>
	<script src="js/init.js"></script>
	<script src="js/controller/buttonsDemo1.js"></script>
	<script src="js/frostbite.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</html>