<!DOCTYPE html>
<html>
  <head>
    <title>Flavour List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Flavour List</h1>
    <ul>
      <%
        var list = '';
        for (i = 0; i < flavourlist.length; i++) {
            list += '<li>' + flavourlist[i].flavour + ', from ' + flavourlist[i].supplier + '.</li>';
        }
      %>
      <%= list %>
    </ul>
  </body>
</html>