extends layout

block content
  h1= title

  // Wrapper
  #wrapper

    // FLAVOUR INFO
    #flavourInfo
      h2 Flavour Info
      p
        strong Flavour:
        |  <span id='flavourInfoFlavour'></span>
        br
        strong Supplier:
        |  <span id='flavourInfoSupplier'></span>
        br
        strong Product Type:
        |  <span id='flavourInfoType'></span>
        br
        strong Quantity per Unit:
        |  <span id='flavourInfoQuantity'></span>
        br
        strong Price:
        |  <span id='flavourInfoPrice'></span>
      #logOpenClose
        button#btnOpenTub Open Tub
        button#btnCloseTub Close Tub
    // /FLAVOUR INFO

    // FLAVOUR HISTORY
    #flavourHistory
      h2 Flavour History
      table
        thead
          th Open
          th Close
          th Working Days to Complete
          th Edit?
          th Delete?
        tbody
    // /FLAVOUR HISTORY

    // FLAVOUR LIST
    h2 Flavour List
    #flavourList
      table
        thead
          th Flavour Name
          th Flavour Supplier
          th Edit?
          th Delete?
        tbody
    // /FLAVOUR LIST

    // ADD FLAVOUR
    h2#addFlavourHeader Add Flavour
    #addFlavour
      fieldset
        input#inputFlavourName(type='text', placeholder='Flavour Name')
        input#inputFlavourSupplier(type='text', placeholder='Supplier')
        br
        input#inputFlavourProductType(type='text', placeholder='Product Type')
        input#inputFlavourQuantityPerUnit(type='text', placeholder='Quantity per Unit')
        br
        input#inputFlavourPrice(type='text', placeholder='Price')
        br
        button#btnAddFlavour Add Flavour
    // /ADD FLAVOUR

  // /WRAPPER