<!DOCTYPE html>
<html>
  <head>
    <title>Add Flavour</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="formAddFlavour" name="addflavour" method="post" action="/addflavour">
      <input id="inputFlavourName" type="text" placeholder="flavourname" name="flavourname" />
      <input id="inputFlavourSupplierr" type="text" placeholder="supplier" name="flavoursupplier" />
      <button id="btnSubmit" type="submit">Submit</button>
    </form>
  </body>
</html>